In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/driver_info.csv')

In [3]:
df.head(5)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15
3,37,7.0,18,4.0,U12618125q,0,2019-11-20
4,39,8.2,428,7.0,A14375829B,0,2019-7-23

In [4]:
df.age.median()

33.0

In [5]:
df.user_rating.min()

5.8

df.user_time_accident.value_counts()

In [9]:
df.tail(1)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23

In [10]:
df.describe()

,age,user_rating,user_rides,user_time_accident,sex
count,15153.000000,15153.000000,15153.000000,14182.000000,15153.000000
mean,33.581073,8.109345,871.015442,10.129601,0.499967
std,9.919271,0.668246,573.512378,8.867482,0.500016
min,18.000000,5.800000,0.000000,0.000000,0.000000
25%,25.000000,7.700000,421.000000,4.000000,0.000000
50%,33.000000,8.100000,876.000000,9.000000,0.000000
75%,41.000000,8.600000,1145.000000,14.000000,1.000000
max,63.000000,10.000000,3316.000000,86.000000,1.000000

In [12]:
df[(df.age < 40) & (df.user_time_accident >4.5) & (df.user_time_accident <= 9)].count()

age                   2478
user_rating           2478
user_rides            2478
user_time_accident    2478
user_id               2478
sex                   2478
first_ride_date       2478
dtype: int64